name: CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build Core Banking Service
        run: mvn -B package --file core-banking-service/pom.xml

      - name: List files in Core Banking target (Debug)
        run: ls -R core-banking-service/target

      - name: Build Notification Service
        run: mvn -B package --file notification-service/pom.xml

      - name: List files in Notification target (Debug)
        run: ls -R notification-service/target

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          
      - name: Build Core Banking Service (Pre-Deploy)
        run: mvn -B package -DskipTests --file core-banking-service/pom.xml
        
      - name: Build Notification Service (Pre-Deploy)
        run: mvn -B package -DskipTests --file notification-service/pom.xml

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Core Banking Service
        uses: docker/build-push-action@v5
        with:
          context: ./core-banking-service
          push: true
          tags: ryanrsdev/core-banking-service:latest

      - name: Build and push Notification Service
        uses: docker/build-push-action@v5
        with:
          context: ./notification-service
          push: true
          tags: ryanrsdev/notification-service:latest